<div class="visible-lg visible-md col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="search">
                <div class="form-group" style="margin-bottom:0;">
                    <input type="text" class="form-control" placeholder="善于搜索...">
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <h4 class="vc-widget-title">主题声明</h4>
        <div class="panel-body">
            <p style="text-indent:2rem;word-break:break-all;">
                这是一个基于bootstrap框架的主题，是一款私有主题，可能应用在Wordpress、drupal上，个人偏好简洁，萌发开发想法，如果您不小心使用了该主题，请注明版权，禁止商业行为。
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <h4 class="vc-widget-title">最近更新</h4>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>
                    <a href="">胡同里的小太子...</a>
                </li>
                <li>
                    <a href="">重游潘家园，会老友...</a>
                </li>
                <li class="text-right">
                    <a href="#!">更多 >></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <h4 class="vc-widget-title">友情链接</h4>
        <div class="panel-body">
            <div class="row text-center">
                <a href="http://www.itlipeng.cn" class="col-md-6 vc-a">IT蜗牛</a>
                <a href="#!" class="col-md-6 vc-a">VicTheme</a>
                <a href="#!" class="col-md-6 vc-a">岁寒的博客</a>
                <a href="#!" class="col-md-6 vc-a">前端鹏红</a>
                <a href="#!" class="col-md-6 vc-a">石头记</a>
                <a href="#!" class="col-md-6 vc-a">艳军博客</a>
                <a href="#!" class="col-md-6 vc-a">申请友链</a>
            </div>
        </div>
    </div>
</div>
